{% extends "socialaccount/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container py-2 py-lg-2 my-2">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 ">
            <div class="card py-2 mt-4">
            <h2 class="h3 mb-4 text-center">{% trans "Enter an username to Continue" %}</h2>
            <p class="mt-4 d-inline-block align-middle font-size-base font-weight-semibold mb-2 mr-2">
              {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
              {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
            <form method="POST" id="signup_form"  action="{% url 'socialaccount_signup' %}" class="signup card-body needs-validation" >
                {% csrf_token %}
                <div class="form-group">
                {{ form|crispy }}
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary" type="submit"><i class="czi-user mr-2 ml-n1"></i>Submit</button>
            </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}
